/* Init Style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', sans-serif;
}
/* Define the root var */
:root {
  --main-color: #f3f3f3;
  --main-bgc: #2c2c51;
  --btn-color: #37af65;
  --main-fz: 2rem;
  --second-fz: 1.2rem;
  --third-fz: 1rem;
}
/* Style of body */
body {
  background-color: var(--main-bgc);
  color: var(--main-color);
  font-size: var(--second-fz);
}
/* Center and define padding, widths for the form */
main {
  padding: 20px 0 2px 0;
  background-color: rgba(27, 27, 50, 0.8);
  min-width: 300px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}
/* Style of title and description */
#title, #description {
  text-align: center;
}
#title {
  font-size: var(--main-fz);
  margin-top: 50px;
}
#description {
  font-size: var(--second-fz);
  margin: 15px 0 40px 0;
  font-style: italic;
}
fieldset {
  padding: 15px;
  border: none;
}
/* display block of all labels, input and textarea, submit button */
#name-label, #email-label, #number-label, #name, #email, #number, #role, #feature, textarea, #submit {
  display: block;
  width: 100%;
}
.recommandations-labels, .improved-label {
  display: block;
}
/* Adjust size of font, padding, margin of the inputs, select, and textarea */
input, select {
  font-size: var(--second-fz);
  padding: 10px 0;
  margin: 10px 0;
}
textarea {
  margin-top: 10px;
  padding: 10px 0;
}
/* Style of button submit and submit hover */
#submit {
  padding: 10px;
  background-color: #37af65;
  border: 1px solid #37af65;
  border-radius: 5px;
  letter-spacing: 1.5px;
  font-size: var(--third-fz);
  color: #f3f3f3;
}
#submit:hover {
  cursor: pointer;
  opacity: 0.9;
}
